.logo-size {
    width: 10rem;
}

.conbox{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 2% 3% 5% 3%;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
}

a { text-decoration: none; }