.detailbook{
    width: 15rem;
}

h1{
    font-weight: bold;
    color: darkblue;
}

.mark1{
    font-weight: bold;
    color: darkblue;
}

main {
    height: 100vh;
    background: white;
}

#myBtn {
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(0, 0, 238);
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: underline;
    transform-origin: 0 0;
    width: auto;
}

hr {
    width: 40%;
    color: lightgrey;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.checkout {
    margin-top: 5rem;
}